nav {
  height: 20vh;
  width: 100%;
  
  
  /* margin-bottom: 20px; */
}
.navitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navitems h2 {
  font-size: 30px;
}

.navitems button {
  width: 30%;
  height: 10vh;
  border: 2px solid transparent;
  border-radius: 30px;
  font-family: serif;
  font-size: 20px;
  margin: auto 0px;
}

.fetchbtn:hover {
  background-color: #fff;
}
.userdatacontainer {
  width: 100%;
  height: fit-content;

}
#main {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  /* padding-top: 10vh; */
}
.name h1{
  font-size: 30px;
  font-weight: bold;
  

}


.avatar {
  border-radius: 40%;
}

.profile_cont {
  border-radius: 15%;
  background-image:repeating-linear-gradient();
  margin: 5px;
  padding: 12px;
  width: 30%;
  text-align: center;
  opacity: 0.8;
  margin-top: 8vh;
}

.profile_cont:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fetchbtn{
  background-color: brown;
}


